
/* -----------  Equipe -------------*/
.container{
    display: flex;
    padding-top: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.grids{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards{
    padding-top: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border: 2px solid #FFF500;
    background: #FFF;
    gap: 1.5rem;
    margin: 3.125rem;
    width: 18rem;
}

.icon img{
    margin-right: 1.25rem;
    margin-left: 2rem;
    width: 2.4rem;
    height: 2.8rem;
}

.icon img:hover{
    transition: all 0.5s;
    cursor: pointer;
    transform: scale(1.2);
}

p {
    text-align: center;
}

.icon{
    display: flex;
}



 
 
    